<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignup="ngForm" (ngSubmit)="signUp(sellerSignup.value)" class="common-form">
            <input 
            class="form-input" 
            type="text" 
            name="name" 
            placeholder="Enter Name"
            ngModel
            />
            <input 
            class="form-input" 
            type="password"  
            name="password" 
            placeholder="Enter password"
            ngModel
            />
            <input 
            class="form-input" 
            type="text"  
            name="email" 
            placeholder="Enter Email"
            ngModel
            />
            <button class="form-button">Sign Up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already Have Account? Click to Login</a>
        </form>
    </div>

 <!--Login Area-->
 <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p class="error-p">{{authError}}</p>
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
        <input 
        class="form-input" 
        type="text"  
        name="email" 
        placeholder="Enter Email"
        ngModel
        />
        <input 
        class="form-input" 
        type="password"  
        name="password" 
        placeholder="Enter password"
        ngModel
        />
        <button class="form-button">Login</button>
        <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account? click to Sign Up</a>
    </form>
</div>
</div>
